* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: medium;
  font-family: monospace;
}
body {
  overflow-x: hidden;
}
.day1 {
  position: relative;
  background-color: #43a047;
  min-height: 100vh;
}
.wrapper {
  /* width: 80vmin; */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 20px;
  border-radius: 8px;
  background-color: aliceblue;
  z-index: 3;
}
label {
  display: block;
}
span {
  position: relative;
  font-size: 22px;
  bottom: 1px;
}
.wrapper__options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
.wrapper__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border: 4px solid black;
  border-radius: 8px;
}
input[type="color"]::-webkit-color-swatch {
  border: 4px solid black;
  border-radius: 8px;
}

input[type="color"]::-moz-color-swatch {
  border: 4px solid black;
  border-radius: 8px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 1px 10px;
  color: black;
  background-color: #43a047;
}
.container {
  margin: auto;
}

.gridCol {
  height: 1em;
  width: 1em;
  border: 1px solid black;
}
.gridRow {
  display: flex;
}

.curves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

@media only screen and (max-width: 768px) {
  .gridCol {
    height: 0.8em;
    width: 0.8em;
  }
}
